/*
 Common style file for banban-ext

  @author Hirano Satoshi
  @copyright 2024 Peace and Passion
  @since 2024/10/02

 */
.small-vspace {
  height: 1em !important;
}

.vspace {
  height: 1.6em !important;
}

.large-vspace {
  height: 3em !important;
}
