/*
 Common style file for banban-ext

  @author Hirano Satoshi
  @copyright 2024 Peace and Passion
  @since 2024/10/02

 */
@use '@material/button/mixins' as mdc-button;

// XXX round does not work. 'border-radius: 36px' does not change the shape of hover
.ponpon-button-shaped-round {
    @include mdc-button.shape-radius(100%);
    // border-radius: 36px !important;
}

.ponpon-small-vspace {
  height: 1em !important;
}

.ponpon-vspace {
  height: 1.6em !important;
}

.ponpon-large-vspace {
  height: 3em !important;
}

.ponpon-center {
    text-align: center;
}
