/*
 Common style file for banban-ext

  @author Hirano Satoshi
  @copyright 2024 Peace and Passion
  @since 2024/10/02

 */
.ponpon-small-vspace {
  height: 1em !important;
}

.ponpon-vspace {
  height: 1.6em !important;
}

.ponpon-large-vspace {
  height: 3em !important;
}

.ponpon-center {
    text-align: center;
}

#ponpon-toast-container {
    position: fixed;
    top: 150px;
    right: 30px;
    z-index: 10000;
}
.ponpon-toast {
    background-color: lightblue; /* Default color */
    width: 170px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1rem; /* Set font size */
    padding: 1rem;
    border-radius: 6px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}

.ponpon-default-toast {
    background-color: lightblue; /* Default color */
}

.ponpon-success-toast {
    background-color: lightgreen; /* Success color */
}

.ponpon-error-toast {
    background-color: lightcoral; /* Error color */
}
